/* Media Queries */
@media (min-width: 768px) {
  .about-photo {
    flex-direction: row;
  }
  .about {
    flex: 2;
  }
  .photo {
    flex: 1;
  }
  nav {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  nav {
    display: flex;
  }
}
